<section id="hakkında" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="https://distok.top/stickers/755240383084232756/755242888161656852.gif" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Kremlin Hakkında</h3>
            <p class="font-italic">
             Kremlin Bot ilk olarak 2019 yılında kurulmuş ve bugünde kadar gelişerek gelmiştir. Botun hiçbir zaman bu aşamaya ulaşacağını düşünmemiştim. Ama onaylandı bile!
            </p>
            <ul>
            <li><i class="bi bi-check-circle"></i>Toplam Komut (<%= database3 %>)</li>
              <li><i class="bi bi-check-circle"></i>Moderasyon (55)</li>
              <li><i class="bi bi-check-circle"></i>Davet (9)</li>
              <li><i class="bi bi-check-circle"></i>Emoji Rol (4)</li>
              <li><i class="bi bi-check-circle"></i>Ticket (5)</li>
              <li><i class="bi bi-check-circle"></i>Kullanıcı (34)</li>
              <li><i class="bi bi-check-circle"></i>Eğlence (3)</li>
              <li><i class="bi bi-check-circle"></i>Sahibe Özel (7)</li>
            </ul>
            <a href="/destek" class="read-more">İletişime Geç</a>
          </div>
        </div>
<br>
<br>
      </div>
          <div class="copyright-wrap d-md-flex py-4">
<br>
    </div>
    </section>
