<html lang="en">
<%- include('head') %>
<br>
<br>
<br>
  <style>
  .falsis{
  color: cyan;
    }
  .falsis:hover{
  color: white;
    }
      .discord{
    background-color: #2f3136; /*discord fontu arkaplan rengi*/
    color: white;
    font-family: "Lucida Console", "Courier New", monospace; /*elleşme burayı*/
  }</style>
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>Çeviri Komutu (#0003)</h1>
        </div>

      </div>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
      <div class="container">
      <img src="https://9to5google.com/wp-content/uploads/sites/4/2017/03/googletranslate-900x420.jpg?quality=82&strip=all&w=290&h=145&crop=1">
      <br>
        <br>
      Çeviri komutu biraz karmaşık olduğundan dolayı anlatmak istedim:
        <br>
        <br>
        1. kr-çeviri yazarsanız Lütfen çevirilecek dili yazın. Örnek: kr-çeviri tr en Hello diyecektir. Zaten örnekte de verdiği gibi kısa bir kullanımı var
        <br>
        kr-çevir [çevirilecek dil] [çeviri kaynak dili] [yazı]
        <br>
        <br>
        <img src="https://cdn.discordapp.com/attachments/850708275619823676/860132508690284564/unknown.png">
        <br>
        <br>
        Kısaca <b>Merhaba</b> metnini ingilizceye çevirecek isek <b class="discord">kr-çeviri en tr Merhaba</b> yazmamız gerekiyor.
        <br>
        <br>
        Eğer hala bir sonuca ulaşamadıysanız <a href="/destek" class="falsis">Destek sunucumuza</a> gelin. Size yardımcı olalım.
        <br>
        Kremlin Destek Numara <b class="discord">#0003</b> Destek Mesajı yazarı: <%= Sahip %>
        <br>
        &copy Kremlin APACHE Hakları ile korunmaktadır
      </div>
    </section>
  </main>
  
<%- include('footer') %>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/aos/aos.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/purecounter/purecounter.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/swiper/swiper-bundle.min.js"></script>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/js/main.js"></script>

</body>

</html>