<section id="counts" class="counts">
      <div class="container">

        <div class="row counters">
<div class="section-title">
          <h2>Sayaç</h2>
          <p>İşte kremlin'in üye ve komut sayacı! Canlı yenilenen sayılara şahit olun!</p>
        </div>
        <br>
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="<%= database %>" data-purecounter-duration="1" class="purecounter"></span>
            <p>Sunucu</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="<%= database4 %>" data-purecounter-duration="1" class="purecounter"></span>
            <p>Kullanıcı</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="<%= database2 %>" data-purecounter-duration="1" class="purecounter"></span>
            <p>Kanal</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="<%= database3 %>" data-purecounter-duration="1" class="purecounter"></span>
            <p>Komut</p>
          </div>

        </div>

      </div>
      
    </section>