<html>
<link href="duyuru.css" rel="stylesheet">
  <div class="container mt-5">

        <div class="alert fade alert-simple alert-primary alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
          <i class="fas fa-bullhorn"></i>
          <b class="font__weight-semibold">Duyuru :</b> <%= database5 %>
        </div>
      </html>