<html lang="en">
<%- include('head') %>
<br>
<br>
<br>
  <style>
  .falsis{
  color: cyan;
    }
  .falsis:hover{
  color: white;
    }
      .discord{
    background-color: #2f3136; /*discord fontu arkaplan rengi*/
    color: white;
    font-family: "Lucida Console", "Courier New", monospace; /*elleşme burayı*/
  }</style>
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>Emojirol Sistemi (#0002)</h1>
        </div>

      </div>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
      <div class="container">
      <img src="https://cdn.discordapp.com/attachments/847488385399783504/849156783414050836/unknown.png">
      <br>
        <br>
      Emoji Rol Sistemi için 1 mesaj ve mesajın olduğu kanala ihtiyacınız var. Aşağıdaki adımları tek tek izleyin:
        <br>
        <br>
        1. kr-emoji-rol-menü-kur [MENU ADI] | [MESAJ ID] | #kanal 
        <br>
        2. kr-emoji-rol-ekle [MENU ADI] | #kanal  | :emoji: | @rol
        <br>
        <br>
        <img src="https://cdn.discordapp.com/attachments/847488385399783504/849157464657887262/unknown.png">
        <br>
        <br>
        Artık ayarlanan mesajdaki ayarlanan emojiye tıklandığında ayarlanan rol verilecek. İşte örnek:
        <br>
        <br>
        <img src="https://cdn.glitch.com/83355027-58ce-4182-9dc7-a570bdea5dbd%2Fezgif-4-a0f7a84c42a5.gif?v=1622531630766">
        <br>
        <br>
        Peki ya emoji rolü düzenlemek veya silmek isterseniz?
        <br>
        Bunun için aşağıdaki adımları uygulayın:
        <br>
        1. kr-emoji-rol-düzenle [MENU ADI] | #kanal | :eski_emoji: |:yeni_emoji: | @yeni rol
        <br>
        <br>
        <img src="https://cdn.discordapp.com/attachments/847488385399783504/849158824296316948/unknown.png">
        <br>
        <img src="https://cdn.discordapp.com/attachments/847488385399783504/849159282213912616/unknown.png">
        <br>
        <br>
        Emoji Rolü silmek için ise aşağıdaki adımları takip edin:
        <br>
        1. kr-emoji-rol-sil [MENU ADI] | #kanal | :emoji:
        <br>
        <br>
        <img src="https://cdn.discordapp.com/attachments/847488385399783504/849159683406561300/unknown.png">
        <br>
        <br>
        Eğer hala bir sonuca ulaşamadıysanız <a href="/destek" class="falsis">Destek sunucumuza</a> gelin. Size yardımcı olalım.
        <br>
        Kremlin Destek Numara <b class="discord">#0002</b> Destek Mesajı yazarı: <%= Sahip %>
        <br>
        &copy Kremlin APACHE Hakları ile korunmaktadır
      </div>
    </section>
  </main>
  
<%- include('footer') %>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/aos/aos.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/purecounter/purecounter.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/swiper/swiper-bundle.min.js"></script>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/js/main.js"></script>

</body>

</html>