<footer id="footer">
  <style>
  .falsis{
  color: white;
    }
  .falsis:hover{
  color: cyan;
    }</style>
<div class="copyright-wrap d-md-flex py-4">
<br>
    </div>
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>KREMLIN</h3>
            <p>
              Hızlı <br>
              Güvenli<br>
              Eğlenceli<br><br>
              <strong>Bot:</strong> Kremlin<br>
              <strong>Sahibi:</strong> <%= Sahip %><br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Alt Menü</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/#">Anasayfa</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/komutlar">Komutlar</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/support">Destek</a></li>
            </ul>
          </div>
                  </div>

</div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            <a href="/lisans" class="falsis">&copy; Telif Hakkı <strong><span>Kremlin</span></strong>. Tüm Haklar Saklıdır</a>
          </div>
          <div class="credits">
            Site Yapımcısı :  <a href="https://discord.com/users/539843855567028227">Falsis Kremlin</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="/davet" class="google-plus"><i class="bx bxl-discord"></i></a>
            <a href="https://instagram.com/keremm.js" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://twitter.com/fnfalsis" class="twitter"><i class="bx bxl-twitter"></i></a>

        </div>
      </div>

    </div>
  </footer>