<section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>Kremlin</h1>
            <h2>Kremlin'in gelişmiş moderasyon sistemleri ve ticket, emojirol gibi kullanışlı komutları ile sunucunuzu çok daha kolay yönetin!</h2>
          <div><a href="/davet" class="btn-get-started scrollto">Hemen Dene</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="https://cdni.iconscout.com/illustration/premium/thumb/woman-wearing-medical-mask-holding-protective-shield-3678943-3092517.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  <div class="copyright-wrap d-md-flex py-4">
<br>
    </div>
  </section>
