<html lang="en">
<%- include('head') %>
<br>
<br>
<br>
  <style>
  .falsis{
  color: cyan;
    }
  .falsis:hover{
  color: white;
    }</style>
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>Kremlin Bot - HTML & CSS ICONLARI</h1>
        </div>

      </div>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
      <div class="container">
<i class="fab fa-500px"></i> <i class="fab fa-accessible-icon"></i> <i class="fab fa-accusoft"></i> <i class="fas fa-ad"></i> <i class="fas fa-address-book"></i> <i class="far fa-address-book"></i> Devam edecek...
<br>
<br>
&forall; &part; &exist; &empty; &nabla; &isin; &notin;	&ni; &prod; &sum; 	&Alpha; 	&Beta; &Gamma; &Delta; &Epsilon; &Zeta; &copy; &reg; &euro; &trade; &larr; &uarr;	 &rarr; &darr; &spades; &clubs; &hearts; &diams; 
<br>
<br>
        &copy; Kremlin&trade; APACHE&reg; Hakları ile korunmaktadır
      </div>
    </section>
  </main>
  
<%- include('footer') %>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/aos/aos.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/purecounter/purecounter.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/swiper/swiper-bundle.min.js"></script>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/js/main.js"></script>

</body>

</html>