<html lang="en">
<%- include('head') %>
<br>
<br>
<br>
  <style>
  .falsis{
  color: cyan;
    }
  .falsis:hover{
  color: white;
    }
      .discord{
    background-color: #2f3136; /*discord fontu arkaplan rengi*/
    color: white;
    font-family: "Lucida Console", "Courier New", monospace; /*elleşme burayı*/
  }</style>
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>İntentler Neden Kapalı? (Özel)</h1>
        </div>

      </div>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
      <div class="container">
      <img src="https://cdn.discordapp.com/attachments/775822548519616562/858699511378608138/unknown.png">
      <br>
        <br>
      İntentler neden açılmıyor? Öncelikle intentin ne olduğundan bahsetmeliyim:
        <br>
        <br>
        İntentler botun Discord Api üzerinden veri çekmesini ve kullanıcıların sunucuya giriş çıkış, öezl durum gibi verilerini alabilmesi için gereken bot ayarlarıdır.
        <br>
        İntentler olmadan Guard kategorisindeki ve diğer kategorilerdeki Kremlin komutları düzgün çalışmıyor. Bu sebeple komutları kullanamıyorsunuz. Discord ile iletişime geçmeye çalışıyorum ama herhangi bir olumlu veya olumsuz cevap alamıyorum.
        <br>
        İntentler Kremlin onaylandıktan sonra 100+ sunucuya eklenebilmesi için kapanmıştı, aksi takdirde eklenemiyordu ve bunu yapmak zorundaydım. Daha sonra e-mail ile iletişime geçsem de bir cevap alamadım ve botun intentleri açılamadı. Bunun için hem kendim hem Discord adına özür dilerim. Discord'a zaten yeterince sıkıntımı belirttim umarım anlarlar.
        <br>
        <br>
        <img src="https://cdn.discordapp.com/attachments/775822548519616562/858700829950738452/unknown.png">
        <br>
        Eğer hala bir sonuca ulaşamadıysanız <a href="/destek" class="falsis">Bu Sunucudan</a> destek alın.
        <br>
        <br>
        Kremlin Destek Numara <b class="discord">undefined</b> Destek Mesajı yazarı: <%= Sahip %>
        <br>
        &copy Kremlin APACHE Hakları ile korunmaktadır
      </div>
    </section>
  </main>
  
<%- include('footer') %>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/aos/aos.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/purecounter/purecounter.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/swiper/swiper-bundle.min.js"></script>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/js/main.js"></script>

</body>

</html>