 <section id="istatistikler" class="features">
    <font color="white">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>İstatistikler</h2>
          <p>Kremlin'in hız ve gücünü canlı olarak kendi gözünüzle görün!</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Ram Kullanımı</h4>
              <p><%= ram %> MB</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>CPU Kullanımı</h4>
              <p>%<%= cpu %></p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-images"></i>
              <h4>Ping</h4>
              <p><%= ping %> MS</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
            <img src="https://distok.top/stickers/755240383084232756/755243061088616458.gif" alt="" class="img-fluid">
          </div>
        </div>
</font>
      </div>
          <div class="copyright-wrap d-md-flex py-4">
<br>
    </div>
    </section>