<html lang="en">
<%- include('head') %>
<br>
<br>
<br>
  <style>
  .falsis{
  color: cyan;
    }
  .falsis:hover{
  color: white;
    }</style>
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>Kremlin Support</h1>
        </div>

      </div>
                <div class="copyright-wrap d-md-flex py-4">
    </div>
      <div class="container">
        <a href="/support/0001"><img src="https://cdn.discordapp.com/attachments/847488385399783504/849150283081711626/Yeni_Proje_3.png"></a>
        <br>
        <br>
        <h2>
          <a href="/support/0001" class="falsis">#0001 Ticket Sistemi</a>
        </h2>
        Çoğu kişinin daha önce kullanmadığı veya anlasa da Kremlin üzerinde bir türlü uygulayamadığı ticket sisteminin desteği. <a class="falsis" href="/support/0001">Buradan</a> ulaşabilirsiniz.
        <br>
        <br>
                <a href="/support/0002"><img src="https://cdn.discordapp.com/attachments/847488385399783504/849151118042595368/Yeni_Proje_4.png"></a>
        <br>
        <br>
        <h2>
          <a href="/support/0002" class="falsis">#0002 Emoji Rol Sistemi</a>
        </h2>
        İşte emoji rol sistemlerinin ustalarının bile bazen anlayamadığı Kremlin Emoji Rol sistemi. Destek için <a class="falsis" href="/support/0002">buraya</a> tıklayın.
        <br>
        <br>
        <a href="/support/intentler-neden-kapali"><img src="https://cdn.discordapp.com/attachments/775822548519616562/858700829950738452/unknown.png"></a>
        <br>
        <br>
        <h2>
          <a href="/support/intentler-neden-kapali" class="falsis">İntentler Neden Kapalı?</a>
        </h2>
        Neden bazı komutların düzgün çalışmadığı ve intentlerin kapalı olduğu hakkında bilgi almak için <a class="falsis" href="/support/intentler-neden-kapali">buraya</a> tıklayın.
        <br>
        <br>
        <a href="/support/0003"><img src="https://9to5google.com/wp-content/uploads/sites/4/2017/03/googletranslate-900x420.jpg?quality=82&strip=all&w=290&h=145&crop=1"></a>
        <br>
        <br>
        <h2>
          <a href="/support/0003" class="falsis">#0003 Çeviri Komutu</a>
        </h2>
        <br>
        <br>
      </div>        
    </section>
  </main>
  
<%- include('footer') %> <!-- -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/aos/aos.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/purecounter/purecounter.js"></script>
  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/vendor/swiper/swiper-bundle.min.js"></script>


  <script src="https://kremlinbot.ahmetfahri.repl.co/assets/js/main.js"></script>

</body>

</html>